In [4]:
import mysql.connector

mydb = mysql.connector.connect(
    user = 'root',
    password = '123465',
    host = 'localhost',
    database = 'digimon'
)

cursor = mydb.cursor()

# create database
# cursor.execute('CREATE DATABASE digimon')

In [5]:
###############Json to MySQL #############################
import json
#create table for json table
# cursor.execute('CREATE TABLE myDigimon (Id varchar(100),No varchar(100),Image varchar(100),Digimon varchar(100),Stage varchar(100),Tipe varchar(100),Attribute varchar(100),Memory varchar(100),Equip_Slots varchar(100),HP varchar(100),SP varchar(100),Atk varchar(100),Def varchar(100),Inte varchar(100),Spd varchar(100))') #create table
# cursor.execute('DESCRIBE myDigimon') # describe your table
# myTable = cursor.fetchall()
# print(myTable)

## Import Json as List of tuple
with open('DigimonJson.json','r') as myJson:
    data = json.load(myJson)
# print(data)
dataInsert = []
for i in data:
    x = i.values()
    x = tuple(x)
    dataInsert.append(x)
# print(dataInsert)

# ## Insert json into table myDigimon
sql = 'INSERT INTO myDigimon (Id, No, Image, Digimon, Stage, Tipe, Attribute, Memory, Equip_Slots, HP, SP, Atk, Def, Inte, Spd) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
val = dataInsert
cursor.executemany(sql,val) 
mydb.commit() 
print(cursor.rowcount, "Data tersimpan!")

341 Data tersimpan!

In [6]:
###########CSV to MySQL#############################
## Create table for csv
# cursor.execute('CREATE TABLE myDigimon2 (No varchar(100),Image varchar(100),Digimon varchar(100),Stage varchar(100),Tipe varchar(100),Attribute varchar(100),Memory varchar(100),Equip_Slots varchar(100),HP varchar(100),SP varchar(100),Atk varchar(100),Def varchar(100),Inte varchar(100),Spd varchar(100))') #create table
# cursor.execute('DESCRIBE myDigimon2') # describe your table
# myTable = cursor.fetchall()
# print(myTable)

### Read CSV
import csv
with open('C:/Users/Asus/Documents/Data Science Purwadhika_M2/MySQL-Python/DigimonCsv.csv','r') as mycsv:
    reader = csv.reader(mycsv, delimiter = ',')
    reader = list(reader)
datacsv = []
for i in reader:
    x = tuple(i)
    datacsv.append(x)
datacsv = datacsv[1:]

# ## Insert json into table myDigimon2
sql = 'INSERT INTO myDigimon2 (No, Image, Digimon, Stage, Tipe, Attribute, Memory, Equip_Slots, HP, SP, Atk, Def, Inte, Spd) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
val = datacsv
cursor.executemany(sql,val) 
mydb.commit() 
print(cursor.rowcount, "Data tersimpan!")

341 Data tersimpan!

In [7]:
################# Excel to MySQL ##############################
import xlrd 

myExcel = xlrd.open_workbook('C:/Users/Asus/Documents/Data Science Purwadhika_M2/MySQL-Python/Digimon.xlsx') 
sheet = myExcel.sheet_by_index(0)                   

data = []
for i in range(sheet.nrows): 
    data.append(sheet.row_values(i))
data = data[1:]
dataexcel = []
for i in data:
    x = tuple(i)
    dataexcel.append(x)

## Create table for excel
# cursor.execute('CREATE TABLE myDigimon3 (No varchar(100),Image varchar(100),Digimon varchar(100),Stage varchar(100),Tipe varchar(100),Attribute varchar(100),Memory varchar(100),Equip_Slots varchar(100),HP varchar(100),SP varchar(100),Atk varchar(100),Def varchar(100),Inte varchar(100),Spd varchar(100))') #create table
# cursor.execute('DESCRIBE myDigimon3') # describe your table
# myTable = cursor.fetchall()
# print(myTable)

# # ## Insert json into table myDigimon3
sql = 'INSERT INTO myDigimon3 (No, Image, Digimon, Stage, Tipe, Attribute, Memory, Equip_Slots, HP, SP, Atk, Def, Inte, Spd) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
val = dataexcel
cursor.executemany(sql,val) 
mydb.commit() 
print(cursor.rowcount, "Data tersimpan!")

341 Data tersimpan!